{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'accounts/create_eval.js' %}" type="text/javascript"></script>
<div class="wrapper panel panel-default">
  <!-- <div class="panel-heading"> -->
    <!-- <h2>Create an Interest</h2> -->
  <!-- </div> -->
  <div class="panel-body">
    <h2>Create an Interest</h2>
    <br>
    {% if error %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> {{ error }}
      </div>
    {% endif %}
    <br><br>
    <form method="POST" action="{% url 'interests:create' %}">
      {% csrf_token %}
      <div class="form-group" id="title_div">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <form class="form-inline">
        <div class="form-group" id="keywords_div">
          <label for="keywords">Keywords (Maximum of 4):</label>
          <input type="text" class="form-control" aria-describedby="keyword-helptext" name="keywords" id="keywords">
          <p id="keyword-helptext" class="form-text text-muted">
            Keywords and key phrases must be comma-separated
            <a href="#" data-toggle="modal" data-target="#helpModal" title="Help">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
          </p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-success btn-lg btn-block" id="createbutton" data-toggle="modal" data-target="#creatingModal">
          <span class="glyphicon glyphicon-plus"></span> Create
        </button>
      </form>
    </div>
</div>

<!-- CREATING Modal -->
<div id="creatingModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <center>Creating Interest...</center>
        </h4>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" style="width: 100%"></div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- HELP Modal -->
<div id="helpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-question-sign"></span> Help with Interest keywords
        </h4>
      </div>
      <div class="modal-body">
        <p>Keywords are words which describe the type of information you are looking for by using words which you would want to see
          in that information. (It could contain one or all of the provided keywords).
        </p>
        <p>
          An example of separate keywords for the interest "Election 2016": <br>
          <b>
            election, trump, hillary
          </b>
        </p>
        <p>
          You can also use short phrases as keywords. For example if you want to use "national security" as a keyword, then it must
          be entered togther without a comma in between the words.
        </p>
        <p>
          For example:<br>
          <b>
            national security, NSA, McMaster
          </b>
        </p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
