{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
  <h2>Create an Interest</h2>
  <br>
  {% if error %}
  <span style="color:red;">{{ error }}</span>
  {% endif %}
  <br>
  <form method="POST" action="{% url 'interests:create' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" name="title">
    </div>
    <form class="form-inline">
      <div class="form-group">
        <label for="keywords">Keywords (Maximum of 4):</label>
        <input type="text" class="form-control" aria-describedby="keyword-helptext" name="keywords">
        <p id="keyword-helptext" class="form-text text-muted">
          Keywords must be comma-separated
        </p>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span> Create
      </button>
      <!-- <input class="btn btn-primary btn-success btn-lg btn-block" type="submit" value="+ Create"> -->
    </form>
</div>

{% endblock %}
