{% extends 'base.html' %}
{% block content %}
{% load static %}

<br>
<br>

{% if user.is_authenticated %}
  <a class="btn btn-primary btn-success" href="{% url 'interests:create' %}">
    <span class="glyphicon glyphicon-plus"></span> Create Interest
  </a>
  <br><br>

  {% for u_interest in user.profile.interests.all %}
  <div class="panel panel-default">
    <div class="panel-heading">

      <div class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <b>{{ u_interest }}</b> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
              <a class="refresh-button" onClick="document.getElementById('refresh-form{{u_interest.id}}').submit()" title="Update results" data-toggle="modal" data-target="#fetchingModal">
                <span class="glyphicon glyphicon-refresh" style="color:green;"></span> Refresh
              </a>
              <form id="refresh-form{{u_interest.id}}" method="POST" action="{% url 'interests:refresh' u_interest.id %}">
                {% csrf_token %}
                <input type="hidden" value="refresh">
              </form>
            </li>
            <li>
              <a href="#" class="deletebtn" onClick="document.getElementById('delete-form{{u_interest.id}}').submit()" title="Delete Interest">
                <span class="glyphicon glyphicon-minus-sign" style="color:red;"></span> Delete
              </a>
              <form id="delete-form{{u_interest.id}}" method="POST" action="{% url 'interests:remove' u_interest.id %}">
                {% csrf_token %}
                <input type="hidden" value="delete">
              </form>
            </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <h6>
        <span class="text-muted">
          <span class="glyphicon glyphicon-time"></span>
          Updated on {{ u_interest.last_refreshed }}
        </span>
      </h6>

      {% if u_interest.newsresults.newsitems.all %}
        {% for r in u_interest.newsresults.newsitems.all %}<br>
          <!-- <img src={{r.top_img}} height="150" width="200"/>
          <br> -->
          <a href={{r.link}}>{{ r }}</a>
        {% endfor %}
      {% else %}
        <i>No results found</i> <br>
      {% endif %}
    </div><!-- END PANEL BODY -->
  </div><!-- END PANEL -->

  {% endfor %}

{% else %}
  <div class="jumbotron">
  <h2>Say: Your Truthful News Fetcher</h2>
  <br>
  <p class="jumbo">In today's politics, it can sometimes be hard to know if the news you're reading is reliable.
  That's where Say comes in! Create an Interest with a few related keywords of what you're
  'interested' in, and you'll get back news articles from reputable and respected sources! No sifting, wading, or
  searching necessary.</p>
  <br>
  <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:register' %}" role="button">Get Started!</a></p>
  </div>
{% endif %}


<div id="fetchingModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><center>Fetching Knowledge...</center></h4>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" style="width: 100%"></div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
