
.wrapper {
  margin: auto;
	width: 65%;
}

.refresh-button {
  padding-left:10px;
  padding-right:10px;
  cursor:pointer;
  color:green;
}

#delete-button {
  padding-left:5px;
  padding-right:5px;
  cursor:pointer;
  color:red;
}
