<div ng-controller="HomeController as homeCtrl">

  <div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      <b>hmmm</b> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
          <a class="refresh-button" ng-click="document.getElementById('refresh-form{{u_interest.id}}').submit()" title="Update results" data-toggle="modal" data-target="#fetchingModal">
            <span class="glyphicon glyphicon-refresh" style="color:green;"></span> Refresh
          </a>
          <form id="refresh-form{{u_interest.id}}" method="POST" action="{% url 'interests:refresh' u_interest.id %}">

            <input type="hidden" value="refresh">
          </form>
        </li>
        <li>
          <a href="#" class="deletebtn" ng-click="document.getElementById('delete-form{{u_interest.id}}').submit()" title="Delete Interest">
            <span class="glyphicon glyphicon-minus-sign" style="color:red;"></span> Delete
          </a>
          <form id="delete-form{{u_interest.id}}" method="POST" action="{% url 'interests:remove' u_interest.id %}">

            <input type="hidden" value="delete">
          </form>
        </li>
    </ul>
  </div>

  <h6>
    <span class="text-muted">
      <span class="glyphicon glyphicon-time"></span>
      Updated on {{ h.last_refreshed }}
    </span>
  </h6>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <div class="caption">

          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>

  <blockquote>
    <i>No results found</i>
    <br>
  </blockquote>

</div>


<!-- FETCHING KNOWLEDGE -->
<!-- <div id="fetchingModal" class="modal fade">
  <div class="modal-dialog"> -->

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title">
          <center>
            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Fetching Knowledge...
          </center>
        </h4>
      </div>

    </div>
  </div>
</div> -->
