{% extends 'base.html' %}
{% block content %}
{% load static %}
<br><br>
<h2>About Say</h2>
<hr width="80%">
<br>
<img src="{% static 'sitepages/human-brain.ico' %}" width="15%" height="15%" align="left" style="padding:15px;" />
<p>
  Knowledge is an extremely powerful tool, and is vital for everyone when it comes to differentiating fact from fiction. A lie cannot be
  known to be a lie if the person to whom it is being told does not have the knowledge to deem it as such.
  In today's political world of hyper-connectivity and constant news, it is difficult for the average person to wade through the
  noise and find knowledge.
</p>
<br>
<p>
  Unfortunately there are many people, companies, and outlets which thrive upon distributing lies and rely on the public's lack of
  knowledge to make themselves seem trustworthy. Say aims to help alleviate this problem, allowing true knowledge to flow without
  impediment.
</p>
<br>
<p>
	Project Say is a deliverer of knowledge. It helps people get information from credible,
  legitimate, and most importantly fact-based sources on any interest of theirs which falls into the realm of politics or its related
  subjects.
</p>
<br>


{% endblock %}
