/*-----------------------------
 MAIN STUFF for cover page style
-------------------------------*/

/* Stuf for links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from the 'body' */
  background-color: #fff;
  border: 1px solid #fff;
}


html,
body {
  height: 100%;
  background-color: #333;
  background-image: url('/static/interests/flag-planted-crp.png');
  background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,1);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;*/
  /*border-bottom-color: rgba(255,255,255,.25);*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover label {
  color: #fff;
  text-shadow: none;
}
.no-shadow {
  text-shadow: none;
}

.switch{
  position: relative;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
* Panel stuff
*/
.well{
  background-color: rgba(0,0,0,.5) !important;
  border: 0;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*------------------------------
Stuff for slidey link underlines
-------------------------------*/
.sliding-link {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
}
.sliding-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width .5s ease;
}
.sliding-link:hover:before {
    width: 100%;
    background: #fff;
    transition: width .5s ease;
}
.sliding-link:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

/*
Animate the switching of forms
*/

.animate-enter,
.animate-leave
{
    -webkit-transition: 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -moz-transition: 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -ms-transition: 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -o-transition: 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    transition: 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
}

.animate-enter {
    top: -100%;
}
.animate-enter.animate-enter-active {
    top: 0;
}

.animate-leave {
    top: 0;
}
.animate-leave.animate-leave-active{
    top: 100%;
}
